<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Calendario</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Aplicacion">
        <meta name="author" content="wbapps">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->        
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="../assets/css/scheduletable.css" rel="stylesheet">
        <script src="../assets/js/jquery.min.js"></script>
        </head>
        <body>

             {% block mostrar_calendario %} {% endblock %}

        </body>
</html>